[Unit]
Description=Server Manager DB cache Daemon
Documentation=https://github.com/NethServer/nethserver-httpd-admin
PartOf=httpd-admin.service

[Service]
Type=forking
ExecStart=/usr/libexec/nethserver/smwingsd
ExecStop=
KillMode=process


